html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.become-a-tutor-main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 5rem;
}

.become-a-tutor-container1 {
    display: flex;
    height: 50vh;
    gap: 10rem;
    /* background-color: red; */
}



.become-a-tutor-container1-left h1{
    font-family: 'Lalezar';
    font-size: 7.8rem;
    line-height: 7rem;
    
}


.become-a-tutor-container1-left .heading-primary-main {
    display: block;
}

.become-a-tutor-container1-left .heading-primary-sub {
    display: block;
}

.heading-primary-sub-tutor {
    color: #FBBC08 !important;
}

.heading-secondary  {
    font-family: 'Inria Sans';
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: -2rem;
}

.become-a-tutor-main-button {
    background-color: black;
    color: #fff;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 2rem;
}

.become-a-tutor-timeline {
    margin-top: 2rem;
    display: flex;
    gap: 27%;
    /* justify-content: space-between; */
}

.become-a-tutor-timeline > .become-a-tutor-timeline-box:nth-of-type(1) {
    margin-left: 1rem;
  }

.become-a-tutor-timeline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.box-1 {
    background-color: #FBBC08 ;
}



.box-2 {
    background-color: #D9D9D9;
}

.box-3 {
    background-color: #D9D9D9;
}

/* .become-a-tutor-timeline-txt {
    display: flex;
    justify-content: space-between;
} */

.become-a-tutor-container1-right img {
    height: 100%;
}

.timeline-txt-1-span {
    display: block;
    font-family: 'Inria Sans';
}

.timeline-txt-1-span-1, .timeline-txt-2-span-1, .timeline-txt-3-span-1 {
    font-size: 2rem;
}

.timeline-txt-1-span-2, .timeline-txt-2-span-2, .timeline-txt-3-span-2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #747474;
}