html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

.max-width-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem !important;
    row-gap: 1rem !important;
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4,1fr);
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem 4.8rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}



.heading-up {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #D90429;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.become-a-tutor-main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 5rem;
    /* background-color: #FBBC08; */
}

.become-a-tutor-container1 {
    display: flex;
    height: 50vh;
    gap: 10rem;
    /* background-color: red; */
}



.become-a-tutor-container1-left h1{
    font-family: 'Lalezar';
    font-size: 7.8rem;
    line-height: 7rem;
    
}


.become-a-tutor-container1-left .heading-primary-main {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
}

.become-a-tutor-container1-left .heading-primary-sub {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
}

.heading-primary-sub-tutor {
    color: #FBBC08 !important;
}

.heading-secondary  {
    font-family: 'Inria Sans';
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: -2rem;
    animation-name: moveInLeftDelay-1;
    animation-duration: 1.5s;
    
}

.become-a-tutor-main-button {
    background-color: black;
    color: #fff;
    padding: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 2rem;
    animation-name: moveInLeftDelay-1;
    animation-duration: 1.5s;
}

.become-a-tutor-timeline {
    margin-top: 2rem;
    display: flex;
    gap: 27%;
    /* justify-content: space-between; */
}

.become-a-tutor-timeline > .become-a-tutor-timeline-box:nth-of-type(1) {
    margin-left: 1rem;
  }

.become-a-tutor-timeline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.box-1 {
    background-color: #FBBC08 ;
    animation-name: moveInLeftDelay-2;
    animation-duration: 1s;
}


.box-2 {
    background-color: #D9D9D9;
    animation-name: moveInLeftDelay-2;
    animation-duration: 1s;
}

.box-3 {
    background-color: #D9D9D9;
    animation-name: moveInLeftDelay-2;
    animation-duration: 1s;
}

/* .become-a-tutor-timeline-txt {
    display: flex;
    justify-content: space-between;
} */

.become-a-tutor-container1-right img {
    height: 100%;
}

.timeline-txt-1-span {
    display: block;
    font-family: 'Inria Sans';
}

.timeline-txt-1-span-1, .timeline-txt-2-span-1, .timeline-txt-3-span-1 {
    font-size: 2rem;
    animation-name: moveInLeftDelay-1;
    animation-duration: 1s;
}

.timeline-txt-1-span-2, .timeline-txt-2-span-2, .timeline-txt-3-span-2 {
    font-size: 1.5rem;
    font-weight: 100;
    color: #747474;
    animation-name: moveInLeftDelay-2;
    animation-duration: 1s;
}



.become-a-tutor-second {
    height: 70vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #F0F0F0;
    padding: 3rem;
    /* background-color: #747474; */
}

.become-a-tutor-second-container {
    margin-top: 5rem;
    /* background-color: rebeccapurple; */
}


.secondary-titles {
    text-align: center;
    font-family: 'Lalezar';
    font-size: 6.4rem;
    margin-bottom: 1.2rem;
}

.our-benfits {
    border-radius: 1rem;
    padding-top: 2.4rem;
    text-align: center;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.our-benfits:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.our-benfits-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.our-benfits-image {
    height: 6.2rem;
}

.our-benfits-title {
    font-size: 2.2rem;
    color: #2B2D42;
    font-family: 'Inria Sans';
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.our-benfits-des {
    font-size: 1.4rem;
    line-height: 1.8;
}


.become-a-tutor-third {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    /* padding: 5rem; */
    /* background-color: #FBBC08; */
    
} 

.become-a-tutor-third-center {
    /* display: flex; */
    /* background-color: #0E0E0E; */
}


.become-a-tutor-third-shadow {
    border-radius: 1rem;
    /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1); */
    /* border: 1px solid #989898; */

}

.become-a-tutor-third-main-title {
    font-family: 'Lalezar';
    font-size: 6.8rem;
    margin-bottom: 2rem;
}


.solutions-in-numbers {
    border-radius: 1rem;
    padding-top: 2.4rem;
    text-align: center;
    /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1); */
    
}

.solutions-in-numbers-title {
    font-size: 4.2rem;
    color: #2B2D42;
    font-family: 'Inria Sans';
    font-weight: 800;
}

.solutions-in-numbers-des {
    font-size: 1.6rem;
    
}

.become-a-tutor-fourth {
    height: 70vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #F0F0F0;
    padding: 3rem;
    /* background-color: #747474; */
}

.success-stories-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
    border: #CCCCCC solid;
    border-radius: 1rem;
}

.success-stories-title {
    font-size: 1.8rem;
    color: #2B2D42;
    font-family: 'Inria Sans';
    font-weight: 600;
    margin-bottom: 2.8rem;
}

.success-stories-des {
    font-size: 1.2rem;
    font-weight: 200;
}

.success-stories-img {
    height: 7.4rem;
    margin-top: 2.4rem;
    border-radius: 1rem;
}

.become-a-tutor-fifth {
    height: 50vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #F0F0F0;
    padding: 3rem;
    padding-top: 5%;
    /* margin-top: 4rem; */
    /* background-color: #747474; */
}

.become-a-tutor-fifth-container {
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
    background-color: #0E0E0E;
    border-radius: 1rem;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.connect-title {
    font-size: 3.6rem;
    color: #fff;
    font-family: 'Inria Sans';
    font-weight: 600;
    /* margin-bottom: 2.8rem; */
}

.connect-des {
    font-size: 1.8rem;
    color: #989898;
    font-family: 'Inria Sans';
    font-weight: 400;
    padding: 0 9.6rem;
}

.btn-connect:link,
.btn-connect:visited {
    margin-top: 2.6rem;
    background-color: #FCC939;
    color: #303030;
}

.btn-connect:hover,
.btn-connect:active {
    background-color: #fdd461;
}

.become-a-tutor-sixth {
    height: 70vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #F0F0F0;
    padding: 3rem;
    background-color: #747474;
}

.grid-footer {
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
}

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #989898;
    background-color: #F0F0F0;
}

.footer-logo {
    font-family: 'Inria Sans';
    text-decoration: none;
    color: #0E0E0E;
    font-size: 4rem;
    font-weight: 600;
}

.nav-col {
    margin-top: 1.2rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0;
    /* margin: 0; */
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: #0E0E0E;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    80% {
      /* transform: translateX(1.6rem); */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInLeftDelay-1 {
    0% {
      opacity: 0;
      transform: translateX(-20rem);
    }
    80% {
      /* transform: translateX(1.6rem); */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInLeftDelay-2 {
    0% {
      opacity: 0;
      transform: translateX(-20rem);
    }
    80% {
      /* transform: translateX(1.6rem); */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes moveInButton {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInButtonDelay-1 {
    0% {
      opacity: 0;
      transform: translateY(8rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes moveInButtonDelay-2 {
    0% {
      opacity: 0;
      transform: translateY(12rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }