html {
    font-size: 62.5% !important;
}


.Main-Title {
    font-family: 'Lalezar';
    font-size: 84px;
}

.Main-Des {
    font-family: 'Inria Sans';
    font-size: 24px;
    font-weight: 300;
    width: 55%;
}

.Main-Img {
    margin-top: 20px;     
    width: 75%;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: #F0F0F0;
    gap: 2rem;
}

.search-bar {
    width: 35% !important;
    height: 50px !important;
    border: none !important;
    
}

.input-txt{
    font-family: 'Inria Sans'!important;
    font-weight: 200 !important;
    font-size: 1.6rem !important;
    border: none !important;
    background-color: #F9F9F9 !important;
}

.search-btn {
    background-color: #FBBC08 !important;
    width: 20% !important;
    color: #FFFFFF !important;
    font-family: 'Inria Sans'!important;
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}