.loginPageMainContainer {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 100vh;
    /* max-width: 120rem; */
}

.loginPageSignInImg {
    height:50%;
}

.loginPageSignInForm, .descripCardSignIn{
    height: 100vh;
    
}