.loginPageMainContainer {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr .8fr;
    height: 100vh;
    padding: 2rem;
    
    /* max-width: 120rem; */
}

.smartTutorImg {
    width: 30%;
}

.subTitlesSignIn {
    font-size: 3rem;
}

.loginPageSignInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPageSignInFormLeft {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.loginPageSignInImg {
    width:100%;
    margin: 6rem 0 0 0;
}

.descripCardSignIn {
    height: 95vh;
    width: 100%;
    padding: 5rem 10rem;
    background-color: #5A6DEE;
}

.loginPageSignInForm {
    height: 100vh;
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.signIn-form input{
    height: 40px;
    border-color: #D0D0D0;
    font-size: 15px;
}

.signIn-form button{
    height: 45px;
    font-size: 17px;
    font-weight: 500 ;
}

.loginButtons{
    background-color: #5A6DEE !important;
    border: none;
    color: #ffffff !important;
    margin-top: 3rem;
}

.form-label{
    font-size: 15px;
}

.signIn-google-account-button{
    border-color: #D0D0D0 !important;
    padding: 0 8rem 0 8rem !important;
}

.google-Img{
    width: 28px;
    margin-right: 1rem;
}

.signIn-terms{
    font-size: 17px;
    font-weight: 400;
    margin: 25px 0;
}

.signIn-or{
    font-size: 17px;
    font-weight: 600;
    margin: 1rem 0 2rem 0;
}

.signUp-tag{
    color: #5A6DEE;
}