.loginPageMainContainer {
    
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 100%;
}

.descripCardSignIn{
       
  
    justify-content: center;
    height: 100%;
    max-width: 100%;
}


.subTitlesSignIn{
    text-align: center;
}

.loginPageSignInImg {
    background-color: #5A6DEE;
    border-radius: 2%;

    margin-top:10px;     
    width: 6%;
    
}

 .smartTutorImg {
    margin-left: 40%;
    margin-bottom: 5%;
    width: 25%;
}

/* .loginPageSignInForm, .descripCardSignIn{
    height: 100vh;
    
} */

.form-label{
    height: 40px;
    border-color: #D0D0D0;
    font-size: 15px;
}






