.login-page-main-container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 100vh;
    /* max-width: 120rem; */
}

.login-page-signIn-Img {
    height:50%;
}

.login-page-signIn-form, .descrip-card-signIn{
    height: 100vh;
    
}