/* .loginPage {
    font-family: 'Inria Sans';
    font-size: 20px;
    font-weight: 300;
}

.loginPage button{
    font-family: 'Inria Sans';
    font-size: 20px;
    font-weight: 300;
} */

/* .signIn-Img {
    margin-top:30px;
    margin-left: -80%;     
    width: 85%;
}

.smartTutor-Img {
    margin-top:10px;
    margin-bottom: 5%;
    width: 30%;
}

.sub-titles-signIn{
    font-size: 30px;
    font-weight: bold;
}

.descrip-card-signIn{
    text-align: center;
    background-color: #5A6DEE;
}

.signIn-form{
    font-size: 15px;
    font-weight: 500;
} */

