.smartTutorImg{
    margin:0 0 3% 4%;
    width: 12%;
}

.questionForm{
    display: flex;
    justify-content: center;
}

.dropdownGender, .dropdownDegree{
    background-color: #ffffff;
    border-color: #D0D0D0;
    color: #000000;
    display: flex;
    padding: 1.5% 0 0 2%;
    width: 100%;
}

.dropdownGender::after, .dropdownDegree::after{
    color: #000000;
    position: absolute;
    top: 45%;
    right: 10px;
}

.dropdownItem{
    font-size: 15px;
}

.signUpQuestionTopic{
    font-size: 30px;
    font-weight: bold;
}

.signUpQuestionDescrip{
    margin-bottom: 1%;
}

.continueSignupButton{
    background-color: #5A6DEE !important;
    color: #ffffff !important;
    padding: 0 30px 0 30px !important;
    margin-top: 20px;
}

