.smartTutorImg{
    margin:2% 0 3% 4%;
    width: 13%;
}

.formLabel{
    font-size: 15px;
    font-weight:bold;
}

.formControl{
    padding: 0.7rem 0.75rem;
    font-size: medium;
}

.questionForm{
    display: flex;
    justify-content: center;
}

.dropdownGender, .dropdownDegree{
    background-color: #ffffff;
    border-color: #D0D0D0;
    color: #000000;
    display: flex;
    padding: 1.5% 0 0 2%;
    width: 100%;
}

.dropdownGender::after, .dropdownDegree::after{
    color: #000000;
    position: absolute;
    top: 45%;
    right: 10px;
}

.dropdownItem{
    font-size: 15px;
}

.signUpQuestionTopic{
    font-size: 50px;
    font-weight: 550;
}

.signUpQuestionDescrip{
    margin-bottom: 1%;
}

.continueSignupButton{
    background-color: #5A6DEE !important;
    color: #ffffff !important;
    padding: 10px 30px 10px 30px !important;
    margin-top: 30px;
    font-size:medium;
}

.dropDown {
    width: 100% ;
    background-color: #fff;
    color: #000000;
    border: 1px solid #ebebeb;
    padding: 9px 0;
}

.dropDown-menu {
    width: 100%;
    font-size: 1.5rem;
}